.navbar {
  height: 50px;
  background-color: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.listItem {
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.home {
  display: flex;
  padding: 25px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
  box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
}

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 20px 0px;
}

.desc {
  color: black;
  margin-bottom: 20px;
  line-height: 25px;
}

.cardButton {
  border: none;
  border-radius: 10px;
  background-color: purple;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auction {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 15px;
}

.leftDiv {
  flex: 1;
}

.rightDiv {
  flex: 1;
  width: 100%;

  margin-left: 20px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
  box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
}

.auctionInfo {
  padding-left: 10px;
}

.auctionInfo h1 {
  font-weight: bold;
}

.auctionInfo p {
  font-size: 24px;
}

.auctionInfo span {
  font-size: 24px;
}

.auctionImg {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  padding: 15px;
  -webkit-box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
  box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
  box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSpan {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.formTitle {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.line {
  width: 0.5px;
  height: 500%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.loginButton {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.google {
  background-color: red;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit {
  width: 200px;
  background-color: purple;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.loginTitle {
  position: absolute;
  top: 170px;
  color: lightgray;
}

.link {
  color: inherit;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }
}

.register {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: purple;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.bidButton {
  background-color: purple;
  color: white;
  font-weight: bold;
  padding: 15px;
}

.purchaseButton {
  background-color: purple;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 15px;
}

.cart {
  display: flex;
  padding: 25px 100px;
}

.cart_info {
  flex: 2;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  padding: 20px;
  height: 400px;
  margin-top: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
  box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
}

.cart_summary {
  flex: 1;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  padding: 20px;
  height: 400px;
  margin-top: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
  box-shadow: 2px 4px 20px 12px rgba(191, 234, 255, 0.67);
}

.cart_item {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.cart_product {
  display: flex;
}

.cart_details {
  display: flex;
  flex: 3;
  flex-direction: column;
  /* justify-content: space-around; */
}

.cart_image {
  flex: 1;
}

.image {
  width: 20vw;
  padding: 10px;
}

.cart_details span {
  font-size: 24px;
  font-weight: 300;
}

.cart_button {
  width: 100%;
  padding: 10px;
  background-color: purple;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 992px) {
  .cart_product {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 50%;
  }
}
